In [9]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)

# Example data (replace with LeetCode data)
data = {'employee_id': [1, 2, 3, 4], 
        'name': ['Alice', 'Bob', 'Charlie', 'David'], 
        'salary': [100000, 80000, 90000, 70000]}
employees = pd.DataFrame(data)

result = selectFirstRows(employees)
print(result)

   employee_id     name  salary
0            1    Alice  100000
1            2      Bob   80000
2            3  Charlie   90000